@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
* {
  -webkit-box-sizing: border-box !important; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box !important; /* Firefox, other Gecko */
  box-sizing: border-box !important; /* Opera/IE 8+ */
}
body {
  color: rgb(var(--foreground-rgb));
  max-width: 100vw;
  overflow-x: hidden;
}

/* globales */
::-webkit-scrollbar {
  width: 0px;
  background: transparent !important;
  color: transparent !important;
  z-index: 30;
  position: fixed;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
  width: 0px !important;
  height: 0px !important;
}
::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: #ccc;
  border-radius: 10px;
  z-index: 12;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  -webkit-transition: #ccc 0.28s ease-in-out;
  transition: #f2f2ff 0.28s ease-in-out;
  margin: 4px;
  min-height: 32px;
  min-width: 32px;
}
.rounded-5xl {
  border-radius: 2rem;
}
.page-container {
  width: 100vw;
  max-width: 1440px;
  margin: 0 auto;
}
.page-padding {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.page-padding-left {
  padding-left: 1.5rem;
}
.page-padding-right {
  padding-right: 1.5rem;
}

/* type */
.heading-text {
  font-size: 8rem;
  line-height: 98%;
}
.heading-text-3 {
  font-size: 3rem;
  line-height: 125%;
}
.heading-text-2 {
  font-size: 4rem;
  line-height: 125%;
}
.heading-text-6 {
  font-size: 1.25rem;
  line-height: 144%;
}
.body-text-1 {
  font-size: 18px;
}
.heading-largest {
  text-align: center;
  font-size: 26rem;
}

/* icons */
.secondary-circle-icon {
  background-color: #f2f2f2;
}
.circle-icon {
  height: fit-content;
}

/* sections */
.analytics-section {
  background: #f9f9f9;
  border-radius: 6%;
  width: 100%;
  max-width: 100vw;
}
.bg-grid-cover {
  background: linear-gradient(180deg, #f9f9f9 80%, transparent);
  border-top-left-radius: 6%;
  border-top-right-radius: 6%;
}
.bg-grid-cover-invert {
  background: linear-gradient(0deg, #f9f9f9 80%, transparent);
  z-index: 2;
}
.will-change {
  will-change: transform!important;
}
.analytics-widget-card-inner {
  display: flex;
  flex-direction: column;
  background-color: #131111;
}
.widget-text-sm {
  font-size: 14px;
}
.widget-text-main {
  font-size: 3rem;
}
.analytics-widget-card-inner .percentage {
  font-size: 12px;
}
.flex-center {
  justify-content: center;
  align-items: center;
}

/* charts */
.linechart-xaxis-label,
.apexcharts-xaxis-label,
.apexcharts-xaxis-label tspan,
.apexcharts-xaxis-label title {
  font-size: 12px;
  fill: #999 !important;
  font-family: "Urbanist", sans-serif !important;
  font-style: normal !important;
  font-weight: 500 !important;
}
#apexchartscombo-chart .linechart-xaxis-label,
#apexchartscombo-chart .apexcharts-xaxis-label,
#apexchartscombo-chart .apexcharts-xaxis-label tspan,
#apexchartscombo-chart .apexcharts-xaxis-label title {
  font-size: 10px;
  fill: #999 !important;
  font-family: "Urbanist", sans-serif !important;
  font-style: normal !important;
  font-weight: 300 !important;
}

/* efficiency */
.icon-border-bg {
  border: 0.5px #fe4b2377;
  border-style: dashed;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* features */
.features-section {
  background-size: 50% 50%;
  background-size: 50% 50%;
  background-image: repeating-linear-gradient(
      0deg,
      #cccccc6c,
      #cccccc6c 1px,
      transparent 1px,
      transparent 25%
    ),
    repeating-linear-gradient(
      -90deg,
      #cccccc6c,
      #cccccc6c 1px,
      transparent 1px,
      transparent 20%
    );
}
.benefits-card {
  background-color: #f9f9f9;
}
.benefits-card .grid-lines {
  z-index: 1;
  background-size: 50% 50%;
  background-size: 50% 50%;
  background-image: repeating-linear-gradient(
      0deg,
      #cccccc6c,
      #cccccc6c 1px,
      transparent 1px,
      transparent 25%
    ),
    repeating-linear-gradient(
      -90deg,
      #cccccc6c,
      #cccccc6c 1px,
      transparent 1px,
      transparent 20%
    );
}

/* iphone */

.frame-base {
  display: block;
  width: 319.6px;
  height: 664.4px;
  background: white;
  border-radius: 48.6px;
  -moz-box-shadow: inset 0 0 12px #494949;
  -webkit-box-shadow: inset 0 0 12px #494949;
  box-shadow: inset 2px 0 12px #494949;
}

.frame-base .layer2 {
  width: 306.6px;
  height: 651.4px;
  background: black;
  margin-left: 50%;
  transform: translate(-50%, 6.5px);
  border-radius: 44.6px;
  -moz-box-shadow: 0px 0px 15px 1.5px #494949;
  -webkit-box-shadow: 0px 0px 15px 1.5px #494949;
  box-shadow: -2px 0px 15px 1.5px #494949;
  border: 1px 2px solid black;
}

.frame-base .stripe {
  position: absolute;
  background: white;
  width: 100%;
  height: 4px;
}

.frame-base .top {
  top: 10%;
}

.frame-base .bottom {
  bottom: 10%;
}

.frame-base .side-button {
  position: absolute;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,e5e5e5+7,ffffff+50,ffffff+93,000000+100 */
  background: #000000; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #494949 0%,
    #aaaaaa 12%,
    #dddddd 50%,
    #aaaaaa 88%,
    #494949 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #494949 0%,
    #aaaaaa 12%,
    #dddddd 50%,
    #aaaaaa 88%,
    #494949 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #494949 0%,
    #aaaaaa 12%,
    #dddddd 50%,
    #aaaaaa 88%,
    #494949 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
  width: 3px;
}

.frame-base .mute {
  height: 25px;
  top: 75px;
  left: -1px;
  border-radius: 1.5px 0 0 1.5px;
}

.frame-base .volume-up {
  height: 50px;
  top: 125px;
  left: -1px;
  border-radius: 1.5px 0 0 1.5px;
}

.frame-base .volume-down {
  height: 50px;
  top: 190px;
  left: -1px;
  border-radius: 1.5px 0 0 1.5px;
}

.frame-base .hold {
  height: 75px;
  top: 145px;
  left: 99.5%;
  border-radius: 0px 1.5px 1.5px 0px;
}

.frame-base .port {
  position: absolute;
  background: white;
  width: 30px;
  height: 2px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50% 50% 0 0;
}

.frame-base .screen {
  background: white;
  width: 286.6px;
  height: 631.4px;
  margin-left: 50%;
  transform: translate(-50%, 9px);
  border-radius: 38.6px;
}

.frame-base #background {
  border-radius: 38.6px;
  position: absolute;
  object-fit: cover;
  top: -1px;
  width: 100%;
  height: 100%;
}

.frame-base #logo {
  position: absolute;
  width: 60px;
  height: 60px;
  margin-top: 100%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
}

.frame-base .mask {
  background: black;
  width: 160px;
  height: 25px;
  margin-left: 50%;
  transform: translate(-50%, -1px);
  border-radius: 0% 0% 20px 20px;
}

.frame-base .left-pie {
  position: absolute;
  overflow: hidden;
  height: 8px;
  width: 8px;
  left: -8px;
  transform: rotate(90deg);
}

.frame-base .left-pie::after {
  content: " ";
  position: absolute;
  left: 0%;
  top: 0%;
  box-shadow: 0 0 0 8px black;
  height: 200%;
  width: 200%;
  border-radius: 50%;
}

.frame-base .right-pie {
  position: absolute;
  overflow: hidden;
  height: 8px;
  width: 8px;
  right: -8px;
  transform: rotate(0deg);
}

.frame-base .right-pie::after {
  content: " ";
  position: absolute;
  left: 0%;
  top: 0%;
  box-shadow: 0 0 0 8px black;
  height: 200%;
  width: 200%;
  border-radius: 50%;
}

.frame-base .speaker {
  position: absolute;
  height: 4px;
  width: 35px;
  background: #222222;
  margin-top: 5px;
  margin-left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
}

.frame-base .camera {
  position: absolute;
  height: 8px;
  width: 8px;
  background: #222222;
  margin-top: 3px;
  margin-left: 70%;
  transform: translateX(-50%);
  border-radius: 10px;
}

.frame-base .lenz {
  position: absolute;
  background: blue;
  -moz-box-shadow: inset 0 0 2px #0d1a53;
  -webkit-box-shadow: inset 0 0 2px #0d1a53;
  box-shadow: inset 0px 0 2px #0d1a53;
  border-radius: 8px;
}

.frame-base .left {
  filter: brightness(70%);
  width: 4px;
  height: 4px;
  margin: 1px 2px 0 0;
}

.frame-base .right {
  filter: brightness(50%);
  width: 5px;
  height: 5px;
  left: 2px;
  top: 1px;
}

.frame-base-light {
  position: absolute;
  width: 0px;
  height: 75.5%;
  border-radius: 48.6px;
  border: 157.4px solid white;
  border-top: 0px;
  top: 2px;
  margin-left: 2px;
}

.frame-base-light::after {
  position: absolute;
  content: " ";
  opacity: 0.5;
  width: 0px;
  height: 97.2px;
  border-radius: 50px;
  filter: blur(1px);
  border: 155.4px solid black;
  border-top: 0px;
  top: 2px;
  left: 0;
  transform: translateX(-50%);
}

.layer2-light {
  position: absolute;
  width: 0px;
  height: 601.4px;
  border-radius: 50px;
  opacity: 0.5;
  filter: blur(2px);
  border: 44.6px solid white;
  border-top: 0px;
  top: 2px;
  margin-left: 4px;
}

.layer2-light::after {
  position: absolute;
  content: " ";
  width: 0px;
  height: 601.4px;
  border-radius: 50px;
  border: 44.6px solid black;
  border-top: 0px;
  top: 2px;
  margin-left: -40px;
  z-index: 2;
}

.frame-base .light-right {
  left: 100%;
  transform: rotate(180deg) translateX(96.2px);
}
/* main {
  scroll-snap-type: mandatory!important;
  scroll-snap-points-y: repeat(150vh)!important;
  scroll-snap-type: y mandatory!important;
}
section {
  height: 150vh !important;
  width: 100vw !important;
  scroll-snap-align: end !important;
} */
.ramos-text {
  background-color: #fe4a23;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 0;
  line-height: 0.73;
  text-align: left!important;
}
